table {
    margin: 0 auto;
    border: solid black 1px;
    width: 600px;
}

.tableHead {
    font-weight: bolder;
    text-align: center;
    margin: 0 auto;
}

td {
    height: 50px;
    text-align: left;
    border: solid black 1px;
    padding: 10px;
}



.schoolName {
    min-width: 300px
}

.schoolState {
    min-width: 50px
}

.schoolZIP {
    min-width: 50px
}

.schoolFunds {
    min-width: 100px
}

.schoolEmail {
    min-width: 100px
}